body{
    background-color:#57080a;
}
h1{
    color:#FFFFFF;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-bottom: 6px solid #FFFFFF;
}

h2{
    color: #FFFFFF;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline;
}

h3{
    color: #e6e1e1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

h4{
    color: #d9d8d8;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p{
    color: #b7abab;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
ul{
    color: #b7abab;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

