body{
    background-color:#3d6a43;
}
h1{
    color:#FFFFFF;
    font-feature-settings: "smcp", "zero";
    border-bottom: 6px solid #FFFFFF;
    text-shadow:

  0px 4px 1px rgba(0, 0, 0, 0.5),
  4px 4px 5px rgba(0, 0, 0, 0.7),
  0px 0px 7px rgba(0, 0, 0, 0.4);
}

h2{
    color: #FFFFFF;
    font-variant-caps: all-small-caps;
    text-decoration: underline;
}

h3{
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

h4{
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p{
    color: #fefefe;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}
ul{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
table {
    border: #b2b2b2 1px solid;
    font-family: monospace;

  }
  td, th {
    border: black 1px solid;
  }
